
  
main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "a b b c c"
    "a b b c c"
    "d d d c c"
    "d d d c c"
    "d d d c c";
  grid-gap: 10px;
/*   background-color: var(--dark); */
  padding: 10px;
}
main > div {
/*   background-color: var(--light); */
  text-align: center;
  padding: 16px 0;
}

.box:nth-child(1) {
  grid-area: a;
}
.box:nth-child(2) {
  grid-area: b;
}
.box:nth-child(3) {
  grid-area: c;
}
.box:nth-child(4) {
  grid-area: d;
}

.box img {
  width: 100%;
  max-height: 500px;
  height: 300;
  object-fit: cover;
}
.box iframe {
  width: 100%;
  max-height: 500;
  height: 100%;
  object-fit: cover;
}

ul {
  list-style-type: none;
  padding: 0 1em;
}
ul a {
  text-decoration: none;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li: {
  border-bottom: 5px solid black;
}
li:hover {
  background-color: #5D7197;
}
a {
  padding: 24px;
  display: block;
  text-decoration: none;
  color: black;
}


  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  li {
    display: inline-block;
    border-bottom: 1px solid orange;
  }


.h1 {
background-color: rgb(239, 226, 240)
}

div {
  background-color: #8A7795;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}




body:before,
body:after
{
	content: "";
	position: fixed;
	background: #8A7795;
	left: 0;
	right: 0;
	height: 10px;
}
body:before {
 top: 0;
}
body:after {
  bottom: 0;
}
body {
 border-left: 20px solid white;
 border-right: 20px solid white;
}
.lt-ie9 body:before, .lt-ie9 body:after {
 display: none;
}
.lt-ie9 body {
 border:none;
}



  
 .footer, #push {
    height: 100px; 
   background-color: white;
}
